$standard-shadow: 0 4px 4px 0 #00000040;
$centred-shadow: 0 0px 4px 0 #00000040;

$elementsHeight: 32px;

$dark-color: #1E1F2B;
$active-color: #6F7DFF;
$warning-color: #FFBA00;

.button:hover {
    opacity: 0.6;
    cursor: pointer;
}


.itemFileName {
    display: flex;
    align-items: center;
    height: $elementsHeight;
    box-shadow: $centred-shadow;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    padding-left: 10px;
    position: relative;
    
    .itemFileNameLeftBar {
        position: absolute;
        left: 0;
        background-color: $active-color;
        width: 3px;
        height: 100%;
        border-radius: 3px 0 0 3px;
    }
}

.itemFileNameSave{
    width: 125px;
}

.itemFileNameLoad{
    width: 170px;
}

.itemFileDownload {
    border-radius: 3px;
    border: none;
    box-shadow: $centred-shadow;
    background-color: white;
    width: $elementsHeight;
    height: $elementsHeight;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemFileDelete {
    border-radius: 3px;
    border: none;
    box-shadow: $centred-shadow;
    background-color: $warning-color;
    width: $elementsHeight;
    height: $elementsHeight;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemFileLoad {
    border-radius: 3px;
    border: none;
    box-shadow: $centred-shadow;
    background-color: white;
    width: $elementsHeight;
    height: $elementsHeight;
    display: flex;
    align-items: center;
    justify-content: center;
}
