@import url('https://fonts.googleapis.com/css2?family=Kameron&display=swap');

.footer {
    display: flex;
    align-items: center;
    justify-content: left;
    
    color: #6D6F7D;
    background-color: #D9D9D9;
    padding-left: 100px;
    height: 19px;
    font-size: 13px;
    font-family: "Kameron";
}