html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  height: 100%;
}

/*We should change this*/
#__next {
  height: 100%;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


/* CODE MIRROR */
.CodeMirror 
{ 
  height: 100%; 
  max-height: 100%; 
}

.cm-editor {
  /* our container wrapper for Codemirror instance */
  flex: 1; /* expand to the maximum */
  height: 100%;
  position: relative; /* needed for child component .cm-scroller */
}

.cm-gutters {
  display: flex;
  justify-content: right;
  min-width: 100px;
}

.cm-scroller {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.cm-scroller::-webkit-scrollbar {
  width: 7px;
}

.cm-scroller::-webkit-scrollbar-track, .cm-scroller::-webkit-scrollbar-thumb{
  /*opacity: 0;*/
  animation: 3s linear 1s scrollAppear reverse;

}

.cm-scroller:hover::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.cm-scroller:hover::-webkit-scrollbar-thumb {
  background: #8888;
}

.cm-scroller::-webkit-scrollbar-thumb:hover {
  background: #5558;
}

@keyframes scrollAppear {
  from {  opacity: 0;  }
  to {  opacity: 1;}
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kameron&display=swap');

